
*, *::before, *::after{
    box-sizing: border-box; 
}
*{
    margin: 0; 
    padding: 0; 
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none; /* Para navegadores baseados em WebKit (Chrome, Safari, etc.) */
    -moz-user-select: none; /* Para navegadores baseados em Gecko (Firefox) */
    -ms-user-select: none; /* Para o Internet Explorer */
    user-select: none; /* Padrão */
}
ul[role='list'], ol[role='list']{
    list-style: none; 
}
html:focus-within{
    scroll-behavior: smooth; 
}
a:not([class]){
    text-decoration-skip-ink: auto; 
}
img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto;
  }
  img, picture, svg, video, canvas{
    vertical-align: middle; 
  }
  img, picture, svg, video, canvas{
    font-style: italic; 
  }
  img, picture, svg, video, canvas{
    background-repeat: no-repeat; 
    background-size: cover;
  }
  input, button, textarea, select{
    font: inherit; 
  }

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')